<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <img src="assets/img/foto.png" alt="Foto de inicio">
            <ion-list>
              <ion-item>
                <ion-label>John Eury De la Cruz</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>johneury21@hotmail.com</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>829-981-6936</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>KM 7 1/2 Sector San José</ion-label>
              </ion-item>
            </ion-list>
</ion-content>


